@charset "utf-8";

body {
    width: 800px;
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 30px;
    text-align:left;
    font-size: 18px;
    background: rgb(150,251,196);
    background: linear-gradient(90deg, rgba(150,251,196,1) 0%, rgba(249,245,134,1) 100%);
    vertical-align:middle; 
    padding: 100px 0;
    text-align: center;
}

.main-contents img{
    size: 200%;
}

.btntextchange{
    margin-top: 40px;
    /*テキストの基点とするためrelativeを指定*/
    position: relative;
    /*ボタンの形状*/
    border: 1px solid #e85d17;
    border-radius:25px;
    min-width:210px;
    padding: 20px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: #333;
    outline: none;
    /*アニメーションの指定*/
    transition: all .2s;
}

/*hoverした際の変化*/
.btntextchange:hover{
  background:#e874ae;
  color:#fff;
}

.btntextchange span{
    /*絶対配置でテキストの位置を決める*/
    position: absolute;
    left: 50%;
    top:50%;
    transform:translate(-50%,-50%);
    /*アニメーションの指定*/
    transition: all .5s;
    /*ブロック要素にしてテキスト折り返しなし*/  
    display: block;
     white-space: nowrap;
    }

/*差し替わるテキストの設定*/
.btntextchange span:nth-child(2){
    opacity:0;/*透過0に*/
    }

/*hoverするとテキストが入れ替わる設定*/
.btntextchange:hover span:nth-child(1){
    opacity:0;/*透過0に*/
    }

.btntextchange:hover span:nth-child(2){
  opacity:1;/*不透明に*/
}
